*.go text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.sql text eol=lf
Dockerfile text eol=lf
Makefile text eol=lf
.gitignore text eol=lf
.golangci.yml text eol=lf
