apiVersion: v1
kind: Service
metadata:
  name: llmux
  namespace: llmux
  labels:
    app: llmux
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: llmux
